@tailwind base;
@tailwind components;
@tailwind utilities;

/*  <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 1000 */

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100 , 200 , 300 , 400 , 500 , 600 , 700;
  font-style: normal;
}